<!DOCTYPE html>
<html>
  <head>
    <title>Coderchat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="class navbar navbar-dark bg-primary">
  		<a class="navbar-brand" href="/">fakeboob</a>
  		<div class="nav navbar-nav">
  			<ul class="nav navbar-nav">
  				<% if current_user %>
            <li class="nav-item ">
              <%= link_to 'Inbox', messages_path, class: 'nav-link' %>
            </li>
  					<li class="nav-item ">
              <%= link_to 'New Message', new_message_path, class: 'nav-link' %>
            </li>
            
            <li class="nav-item ">
              <%= link_to 'Sent Message', sent_messages_path , class: 'nav-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to 'Add Friend', new_friendship_path , class: 'nav-link' %>
            </li>
            <li class="nav-item ">
              <%= link_to 'My Friend', friendships_path , class: 'nav-link' %>
            </li>
            <li class="nav-item pull-xs-right">
  						<%= link_to "Log out #{current_user.name}", logout_path, method: 'delete', class: 'nav-link' %>
  					</li>
  				<% else %>
            <li class="pull-xs-right">
              <%= form_tag sessions_path do %>
              <%= text_field_tag :email %>
              <%= password_field_tag :password %>
              <%= submit_tag "Log In" %>
              <% end %>
		  			</li>  
		  		<% end %>
  			</ul>
  		</div>
  	</nav>
  	<div class="class container">
  		<% if flash[:success] %>
			<div class="alert alert-success"><%= flash[:success] %></div>
  		<% elsif flash[:error] %>
			<div class="alert alert-danger"><%= flash[:error] %></div>
  		<% end %>
  		
    	<%= yield %>
  	</div>
  </body>
</html>
